/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
}

body::-webkit-scrollbar {
  overflow: hidden;
  overflow-x: auto;
  display: none;
}

/* fim Animation  hamburger menu */

#mouse {
  display: block;
  width: 22px;
  height: 40px;
  border-radius: 20px;
  border: 4px solid #9d822b;
  text-align: center;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 20px;
  margin: 0px 50px 0px auto;
}

#mouse::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  position: relative;
  border-radius: 2px;
  background: #9d822b;
  animation-name: mouse;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes mouse {
  from {
    top: 0px;
  }

  to {
    top: 1px;
  }
}
.scroll-aparecer {
  position: fixed;

  display: block;
  opacity: 0;
}

.wrapper {
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #636363;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: 10px;
}
.wrapper i:last-child {
  right: 10px;
}
.wrapper i:hover {
  color: #9d822b;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 20px);
  overflow-x: auto;
  margin: 40px;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 290px;
  list-style: none;
  background: #e7e7e0;
  padding: 5px 0px 0px 0px;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}

.card .img img {
  width: 100%;

  height: 180px;
  border-radius: 5px;
  object-fit: fill;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 17px;
  margin: 20px 0 5px;
  color: #6a6d78;
}
.carousel .card a {
  color: #e7e7e0;
  font-size: 1rem;
  text-decoration: none;
  background: #626863;
  padding: 5px 20px;
  border-radius: 3px;
}
.carousel .card a:hover {
  background: #9d822b;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 1) - 110px);
  }
}
@media screen and (max-width: 455px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
  .wrapper .carousel {
    margin: 20px;
  }
  .wrapper i:first-child {
    left: 5px;
  }
  .wrapper i:last-child {
    right: 5px;
  }

  .wrapper .carousel {
    grid-auto-columns: calc((100% / 1) - 9px);
  }
}
