@keyframes bounce {
    0% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0);
    }
}
/*Margem*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/*fundo da pagina*/
html {
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position-x: center;
    background-position-y: center;
    background: rgb(48, 48, 46);
    background: radial-gradient(circle, rgba(48, 48, 46, 1) 0%, rgba(12, 12, 14, 1) 100%);
    scroll-behavior: smooth;
   
}

.fundo {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position-x: center;
}

/*Menu*/
header {
    width: 100%;
    font-size: 100%;
    position: fixed;
    /*espaçamento de cima para baixo, do lado pro outro*/
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 100;
}

.logo a {
    /*cor*/
    color: #cac7c7;
    /*tira os pontos do link*/
    text-decoration: none;
    /*tamanho*/
    font-size: 35px;
    font-weight: 500;
    font-family: 'Tilt Prism', cursiva;
}

.logo {
    transition: 1s;
}

.logo:hover {
    /*efeito de cor quando clica*/
    transform: scale(1.2);
}

.navbar ul {
    /*serve para tirar os pontos*/
    list-style-type: none;
}

.navbar ul li {
    /*faz ficar do lado do outro*/
    display: inline-block;
    /* serve para distanciar*/
    margin: 0 8px;
    /*tamanho*/
    font-size: 15px;
    /*espaçamento de cima para baixo, do lado pro outro*/
    padding: 5px 8px;
    transition: 1s;
}

.navbar ul li:hover {
    transform: scale(1.2);
}

.navbar ul li a {
    /*tira os pontos do link*/
    text-decoration: none;
    color: #ADADAD;
    font-weight: 500;
}

.conteiner {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

select {
    height: 100vh;
    display: flex;
}

/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;

}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    color: white;
}

.interface {
    height: 100%;
}

section {
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
}

#page1 {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page1 p {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    color: #7a7a7a;
    text-align: left;
    transition: 3s;
}

#page1 p:hover {
    transform: scale(1.1);
}

#page1 span {
    color: #cac7c7;
    font-size: 80px;
    font-weight: 900;
}

#page1 h4 {
    position: absolute;
    margin-top: 220px;
    margin-left: 400px;
    font-size: 18px;
    font-weight: 600;
    color: #daab4f;
    text-align: right;
    transition: 2s;
}

#page1 h4:hover {
    transform: scale(1.1);
}

#page1 h3 {
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    color: #7a7a7a;
    transform: rotate(90deg);
    left: 90%;
    margin-top: 150px;
}

.arrow {
    position: relative;
    top: 280px;
    right: 288px;
    cursor: pointer;
    animation: bounce .5s alternate infinite ease-in;
}

.icon {
    position: absolute;
    left: 25px;
    margin-top: 350px;
}

.icon img {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    margin: 10px;
    transition: 1s;
}

.icon img:hover {
    transform: scale(1.3);
}

.scoll_a {
    position: absolute;
    background: #daab4f;
    width: 390px;
    height: 4px;
    margin-bottom: 100px;
    margin-left: 100px;
}

.scoll_b {
    position: absolute;
    background: #7a7a7a;
    transform: rotate(90deg);
    width: 390px;
    height: 4px;
    margin: 10% 10% 10px 10%;
    right: -230.2px;
    bottom: -21%;
}

#page2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
}

.arrow2 {
    position: relative;
    top: 280px;
    right: 152px;
    cursor: pointer;
    animation: bounce .5s alternate infinite ease-in;
}

#page2 h1 {
    position: absolute;
    margin-bottom: 380px;
    color: #daab4f;
}

#page2 p {
    position: absolute;
    margin-bottom: 210px;
    color: #7a7a7a;
}

#page2 h3 {
    position: absolute;
    margin-top: 5px;
    color: #daab4f;
}

.skill {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    position: relative;
}

.skill img {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
    margin-left: 108px;
    margin-top: 141px;
    transition: 1s;
}

.skill img:hover {
    transform: scale(1.1);
}

.skillss {
    position: relative;
    background: rgb(48, 48, 46);
    background: radial-gradient(circle, rgba(48, 48, 46, 1) 0%, rgba(12, 12, 14, 1) 100%);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) -60px 60px 40px -7px;
    z-index: -1;
    width: 70px;
    height: 70px;
    text-align: center;
    color: #cac7c7;
    top: 80px;
    left: 5px;
}

.skillss h5 {
    position: relative;
    top: 50px;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #C29944;
    background: #111;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    margin-top: 380px;
    font-size: 20px;
    font-weight: 800;
    
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #403D37, #C29944, #cac7c7, #6B5628, #ADADAD, #8A6D2f, #7a7a7a);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: black;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #161616;
    left: 0;
    top: 0;
    border-radius: 10px;

}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#page3 {
    display: flex;
    font-weight: 300;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    height: 100%;
}

#page3 h1 {
    position: relative;
    top: 110px;
    color: #daab4f;
}

#page3 p {
    position: relative;
    top: 155px;
    color: #cac7c7;
}

.coll {
    position: relative;
    background: #daab4f;
    width: 1000px;
    height: 2px;
    transform: rotate(90deg);
    right: 43%;
    top: 1vh;
}

.scoll {
    position: relative;
    background: #daab4f;
    width: 1100px;
    height: 2px;
    transform: rotate(90deg);
    left: 43%;
    top: 170vh;
}

.scoll3 {
    position: relative;
    background: #daab4f;
    width: 100px;
    height: 2px;
    top: 90px;
}

.scoll4 {
    position: relative;
    background: #daab4f;
    width: 100px;
    height: 2px;
    top: 45px;
}

.scoll5 {
    position: relative;
    background: #7a7a7a;
    width: 420px;
    height: 2px;
    top: 170px;
}

.box {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: -80px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    position: relative;
    top: 375px;
    transition: 1s;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.2) -60px 70px 20px 15px;
}

.box img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}

.boxe {
    position: relative;
    background: rgb(48, 48, 46);
    background: radial-gradient(circle, rgba(48, 48, 46, 1) 0%, rgba(12, 12, 14, 1) 100%);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) -60px 60px 40px -7px;
    top: 180px;
    z-index: -1;
    width: 415px;
    height: 285px;
    text-align: center;
    color: #cac7c7;
}

.boxe h2 {
    position: relative;
    top: 8px;
}

.boxe h4 {
    position: relative;
    top: 7px;
    font-weight: 300;
}

/* APLICAÇÃO MEDIA QUERIES */
@media (max-width: 860px) {
    #page2 p {
        position: absolute;
        margin-top: 50px;
    }

    #page2 h3 {
        position: absolute;
        margin-top: 70px;
    }

    .skill img {
        position: absolute;
        margin-top: 180px;
    }

    .skillss {
        position: relative;
        top: 100px;
    }

}

/* APLICAÇÃO MEDIA QUERIES */
@media (max-width: 700px) {
    #page1 p {
        position: relative;
        font-size: 25px;
        font-weight: 700;
        left: 1px;
        bottom: 110px;
    }

    #page1 span {
        color: #cac7c7;
        font-size: 40px;
        font-weight: 900;
    }

    #page1 h4 {
        position: absolute;
        margin-bottom: 290px;
        margin-left: 150px;
        font-size: 18px;
        font-weight: 600;
    }

    #page1 h3 {
        position: absolute;
        left: 80%;
        margin-top: 210px;
    }

    .arrow {
        position: absolute;
        top: 520px;
        left: 45%;
    }

    .arrow2 {
        left: -104px;
    }

    #page1 h3 {
        position: absolute;
        color: #7a7a7a;
        left: 85%;
    }

    .scoll_a {
        position: absolute;
        width: 150px;
        height: 4px;
        margin-bottom: 270px;
        margin-left: 100px;
    }

    .scoll_b {
        position: absolute;
        width: 390px;
        height: 4px;
        right: -218px;
        bottom: -80px;
    }

    #page2 h1 {
        position: absolute;
        margin-bottom: 430px;
    }

    #page2 p {
        position: absolute;
        margin-top: 50px;
    }

    #page2 h3 {
        position: absolute;
        margin-top: 120px;
    }

    .skill img {
        width: 30px;
        height: 30px;
        margin-top: 200px;
        left: -63px;
    }

    .skillss {
        position: relative;
        background: rgb(48, 48, 46);
        background: radial-gradient(circle, rgba(48, 48, 46, 1) 0%, rgba(12, 12, 14, 1) 100%);
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) -60px 60px 40px -7px;
        color: #cac7c7;
        width: 40px;
        height: 40px;
        top: 100px;
        left: 10px;
    }

    #page2 h5 {
        bottom: 100vh;
    }

    .glow-on-hover {
        width: 220px;
        height: 50px;
        color: #C29944;
        margin-top: 380px;
        font-size: 20px;
        font-weight: 800;
    }

    .glow-on-hover:after {
        background: #161616;
    }
}

/* APLICAÇÃO MEDIA QUERIES */
@media (max-width: 513px) {
    header {
        background: rgb(48, 48, 46);
        background: radial-gradient(circle, rgba(48, 48, 46, 0.938813025210084) 0%, rgba(12, 12, 14, 0.9444152661064426) 100%);
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 40px 10px;
    }

    html {
        background-image: url(img/fundo.png);
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-color: #b8b7b7;
    }

    .navbar label {
        transition: 1s;
        font-size: 30px;
        cursor: pointer;
    }

    .navbar label:hover {
        transform: scale(1.3);
    }

    .menu {
        display: none;
        position: absolute;
        background: rgb(48, 48, 46);
        background: radial-gradient(circle, rgba(48, 48, 46, 0.938813025210084) 0%, rgba(12, 12, 14, 0.9444152661064426) 100%);
        background-size: cover;
        background-position-y: center;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        top: 59px;
        transition: 1s;
    }

    .menu li:hover {
        transform: scale(1.1);
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: grid;
    }

    .logo a {
        font-size: 30px;
    }

    .hamburger {
        display: block;
    }

    .navbar ul li a {
        font-size: 25px;
        transition: 1s;
    }

    .navbar ul li a:hover {
        color: #daab4f;
    }

    .conteiner {
        padding: 0px;
    }

    #page1 p {
        position: relative;
        font-size: 25px;
        font-weight: 700;
        left: 1px;
        bottom: 110px;
    }

    #page1 span {
        color: #cac7c7;
        font-size: 40px;
        font-weight: 900;
    }

    #page1 h4 {
        position: absolute;
        margin-bottom: 290px;
        margin-left: 150px;
        font-size: 18px;
        font-weight: 600;
    }

    #page1 h3 {
        position: absolute;
        left: 80%;
        margin-top: 210px;
    }

    .arrow {
        position: absolute;
        top: 520px;
        left: 44%;
        opacity: 0;
    }

    .scoll_a {
        position: absolute;
        width: 150px;
        height: 4px;
        margin-bottom: 270px;
        margin-left: 100px;
    }

    .scoll_b {
        position: absolute;
        width: 390px;
        height: 4px;
        right: -218px;
        bottom: -80px;
    }

    #page2 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #page2 h1 {
        position: absolute;
        margin-bottom: 540px;
    }

    #page2 p {
        position: absolute;
        margin-bottom: 240px;
    }

    #page2 h3 {
        position: absolute;
        margin-top: 150px;
    }

    .skill img {
        width: 30px;
        height: 30px;
        margin-top: 240px;
        left: -61px;
    }

    .skillss {
        position: relative;
        width: 40px;
        height: 40px;
        top: 120px;
        left: 12px;
    }

    #page2 h5 {
        bottom: 100vh;
    }

    .glow-on-hover {
        width: 200px;
        height: 45px;
        color: #d6d5d5;
        margin-top: 420px;
        font-size: 20px;
        font-weight: 800;
    }

    .glow-on-hover:after {
        background: #6e5524;
    }

    .arrow2 {
        position: relative;
        left: -102px;
        margin-top: 30px;
        opacity: 0;
    }

    #page3 h1 {
        position: relative;
        top: 180px;
    }

    #page3 p {
        position: relative;
        color: white;
        top: 220px;
    }

    .boxe h4 {
        position: relative;
        font-weight: 300;
    }

    .box {
        position: relative;
        width: 300px;
        height: 165px;
        top: 467px;
    }

    .boxe {
        position: relative;
        top: 300px;
        width: 315px;
        height: 230px;
        margin: 20px;
    }

    .box img {
        position: relative;
        top: 2px;
    }

    .coll {
        position: relative;
        right: 46%;
        top: 10vh;
        z-index: -1;
    }

    .scoll {
        position: relative;
        left: 47%;
        top: 120vh;
        z-index: -1;
    }

    .scoll3 {
        position: relative;
        height: 2px;
        top: 140px;
    }

    .scoll4 {
        position: relative;
        height: 2px;
        top: 95px;
    }

    .scoll5 {
        position: relative;
        width: 100px;
        height: 2px;
        top: 230px;
    }

}